<div class="weather-display-container" *ngIf="addressData">
  <!-- Exibição da Previsão do Tempo -->
  <mat-card class="weather-card">
    <div class="card-header">
      <h2>Previsão do Tempo</h2>
    </div>
    
    <mat-card-content>
      <!-- Loading -->
      <div *ngIf="loading" class="loading-container">
        <mat-spinner diameter="40" color="accent"></mat-spinner>
        <p>Buscando previsão do tempo...</p>
      </div>
      
      <!-- Erro -->
      <div *ngIf="errorMessage" class="error-message">
        <span class="material-icons-outlined">error_outline</span>
        <p>{{errorMessage}}</p>
      </div>
      
      <!-- Dados Meteorológicos -->
      <div *ngIf="weatherData && !loading" class="weather-content">
        <h3>Hoje</h3>
        <div class="main-weather-container">
          <img src="assets/images/placeholder-tempo-hoje.png" alt="Clima atual" class="main-weather-img">
          <div class="weather-info-overlay">
            <div class="weather-temp">
              <h2>{{weatherData.main.temp | number:'1.0-0'}}°</h2>
              <div class="main-weather-icon">
                <img [src]="getMainWeatherIcon()" alt="Clima atual">
              </div>
            </div>
            <div class="location-info">
              <p>{{weatherData.name}}, Brasil</p>
              <p class="weather-type">{{getWeatherDescription(weatherData)}}</p>
            </div>
          </div>
        </div>
        
        <div class="forecast-days">
          <div class="forecast-day" *ngFor="let day of forecastDays; let i = index" [style.background-image]="'url(assets/images/placeholder-tempo-diario.png)'">
            <p class="day">{{formatDate(day.date)}}</p>
            <div class="forecast-icon" [ngClass]="{'sunny': i === 1}">
              <img [src]="getWeatherImage(i)" [alt]="'Previsão dia ' + (i+1)">
            </div>
            <p class="forecast-temp">{{day.temp}}°</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
